<section id="content">
    <section class="vbox">
        <section class="scrollable wrapper-lg">
            <div class="row">
                <div class="col-lg-12">
                    <!-- .breadcrumb -->
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:U('/index')}">
                                <i class="fa fa-home">
                                </i>
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="{:U('/index')}">
                                <i class="fa fa-list-ul">
                                </i>
                                所有文章
                            </a>
                        </li>
                        <li class="active">
                                {$post.title}
                            </a>
                        </li>
                    </ul>
                    <!-- / .breadcrumb -->
                </div>
                <div class="col-sm-9">
                    <div class="blog-post">
                        <div class="post-item">
                            <div class="caption wrapper-lg">
                                <h2 class="post-title">
                                    <a href="javascript:;">
                                        {$post.title}
                                    </a>
                                </h2>
                                <div class="post-sum">
                                        {$post.content|htmlspecialchars_decode|stripslashes}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <include file="Layout:side"/>
                </div>
            </div>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
    </a>
</section>
