</section>
</section> 
</section>
  <!-- Bootstrap -->
  <script src="__PUBLIC__/js/bootstrap.js"></script>
  <!-- App -->
  <script src="__PUBLIC__/js/app.js"></script>
  <script src="__PUBLIC__/js/slimscroll/jquery.slimscroll.min.js"></script>
  <!-- file input -->
  <script src="__PUBLIC__/js/file-input/bootstrap-filestyle.min.js"></script>
  <!-- datarequire -->
  <script src="__PUBLIC__/js/parsley/parsley.min.js"></script>
  <!-- sweetalter -->
  <script src="__PUBLIC__/js/sweetalert.min.js"></script>
  <!-- simditor
  <script type="text/javascript" src="__PUBLIC__/simditor/scripts/module.js"></script>
  <script type="text/javascript" src="__PUBLIC__/simditor/scripts/hotkeys.js"></script>
  <script type="text/javascript" src="__PUBLIC__/simditor/scripts/uploader.js"></script>
  <script type="text/javascript" src="__PUBLIC__/simditor/scripts/simditor.js"></script>-->
  <!-- textAngular -->
  <script src="__PUBLIC__/textAngular/dist/textAngular-rangy.min.js"></script>
  <script src="__PUBLIC__/textAngular/dist/textAngular-sanitize.min.js"></script>
  <script src="__PUBLIC__/textAngular/dist/textAngular.min.js"></script>
  <!-- iosAlert -->
  <script src="__PUBLIC__/js/iosAlert/iosOverlay.js"></script>
  <script src="__PUBLIC__/js/iosAlert/spin.min.js"></script>
  <script src="__PUBLIC__/js/iosAlert/prettify.js"></script>
  <script src="__PUBLIC__/js/iosAlert/custom.js"></script>
</body>
</html>