<section id="content">
    <section class="vbox">
        <section class="scrollable wrapper-lg">
            <div class="row">
                <div class="col-sm-12">
                    <div class="blog-post">
                        <div class="post-item">
                            <div class="caption wrapper-lg">
                                <div class="post-sum" id="not-404">
                                    <p style="text-align: center;"><img src="__PUBLIC__/images/404.png"><span style="font-size: 30px;color: #959d83">404 Not Found</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
    </a>
</section>