<section id="content"ng-app="blogApp" ng-controller="pythonCrtl">
    <section class="vbox">
        <section class="scrollable wrapper-lg">
            <div class="row">
                <div class="col-lg-12">
                    <!-- .breadcrumb -->
                    <ul class="breadcrumb">
                        <li>
                            <a href="{:U('/index')}">
                                <i class="fa fa-home">
                                </i>
                                首页
                            </a>
                        </li>
                        <li>
                            <a href="{:U('/index')}">
                                <i class="fa fa-list-ul">
                                </i>
                                所有文章
                            </a>
                        </li>
                        <li class="active">
                            Python
                        </li>
                    </ul>
                    <!-- / .breadcrumb -->
                </div>
                <div class="col-sm-9">
                    <div class="blog-post">
                        <div class="post-item" ng-repeat="post in filtered = (posts | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <div class="caption wrapper-lg">
                                <h2 class="post-title">
                                    <a href="index/detail/aid/{{post.aid}}">
                                        {{post.title}}
                                    </a>
                                </h2>
                                <div class="post-sum">
                                    <p>
                                        {{post.summary}}
                                    </p>
                                </div>
                                <div class="line line-lg">
                                </div>
                                <div class="text-muted">
                                    <i class="fa fa-clock-o icon-muted">
                                    </i>
                                    <a class="m-r-sm" href="javascript:;">
                                        {{post.ctime}}
                                    </a>
                                    <i class="fa fa-bookmark-o icon-muted">
                                    </i>
                                    <a class="m-r-sm" href="javascript:;">
                                        {{post.cname.columname}}
                                    </a>
                                    <i class="fa fa-eye icon-muted">
                                    </i>
                                    <a class="m-r-sm" href="javascript:;">
                                        {{post.rnum}}浏览
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center m-t-lg m-b-lg" ng-show="filteredItems >0">
                        <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;">
                        </div>
                    </div>
                    <div class="col-lg-12" ng-show="filteredItems == 0">
                        <p style="text-align: center;padding: 10px;font-size: 14px;color: #ccc">
                            <i class="glyphicon glyphicon-pencil">
                            </i>
                            &nbsp;&nbsp;暂无相关文章
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group navbar-form navbar-left input-s-lg m-t m-l-n-xs hidden-xs" role="search" style="margin: 0;padding: 0;width: 100%;margin-bottom: 10px;">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-sm bg-white btn-icon rounded">
                                    <i class="fa fa-search">
                                    </i>
                                </button>
                            </span>
                            <input type="text" ng-model="search" ng-change="filter()" class="form-control input-sm no-border rounded" placeholder="搜索..."/>
                        </div>
                    </div>
                    <include file="Layout:side"/>
                </div>
            </div>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
    </a>
</section>
