<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/about.css">
<section id="content">
    <section class="vbox">
        <section class="scrollable wrapper-lg">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="blog-post">
                        <div class="post-item">
                            <div class="caption wrapper-lg">
                                <h2 class="post-title">
                                    <a href="javascript:;">
                                        关于我<span class="en-about">About Me</span>
                                    </a>
                                </h2>
                                <p><span>真实姓名</span> : <span class="info-true">唐春林</span></p>
                                <p><span>电子邮件</span> : <span class="info-true">tangchunlinit@gmail.com</span></p>
                                <p>
                                    <span class="label bg-light">标签云</span>
                                    <span class="label bg-primary">宅男</span>
                                    <span class="label bg-success">it男神</span>
                                    <span class="label bg-info">闷骚</span>
                                    <span class="label bg-dark">极客</span>
                                    <span class="label bg-warning">技术帝</span>
                                    <span class="label bg-danger">文艺青年</span>
                                    <span class="label bg-primary">90后</span>
                                </p>
                                <div class="post-sum">
                                        <p><blockquote>正直是我的人格，坚韧是我的品格，热情是我的性格，快乐是我的风格。君子敬而无失，与人恭而有礼，四海之内皆兄弟！</blockquote></p>
                                        <p>本站为技术博客，纯属个人兴趣爱好而建，意在分享知识，记录点滴，同时提升自己。</p>
                                        <p>本人是一个刚刚入市的标准程序猿，年方24，喜欢Web方面的新知识，不是大牛但是有着一颗成为大牛的心；不是有人说过吗？梦想还是要有的，万一实现了呢？</p>
                                        <p>开始接触编程是在大学一年级开始，那是其实对code没有什么清楚的概念，就是跟着网上一些视频随便学学，跟着写写；最早开始写一些简单的html/css；由于是科班出身，少不了学习编程方面的东西，从大二开始就开始正式开设编程方面的课程，从此步上了学习java的道路，学了将近一年时间，有了一定的编码知识于是自己开始学习php这门语言，由于有java的一些知识做铺垫学习php感觉还是顺风顺水的；到了大四基本没什么课程于是出去找一些兼职实习也算是锻炼锻炼自己。感觉扯了好多(-_-)。</p>
                                        <p>关于本站：本站是基于ThinkPHP框架开发的，前端使用的Bootstrap和AngularJS。意图是希望通过这个博客积累更多的知识与经验，提升自己的技能水平，也希望和更多的人一起分享知识。欢迎分享友链，请联系我。</p>
                                        <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
    </a>
</section>